*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    /* Colors */

    --black: hsla(0, 0%, 0%, 1);
    --almost-black: hsla(0, 0%, 20%, 1);
    --gray: hsla(0, 0%, 40%, 1);
    --almost-gray: hsla(0, 0%, 61%, 1);
    --white: hsla(0, 100%, 100%, 1);
    --almost-white: whitesmoke;

    /* Sizes */

    --size-100: 0.5rem;
    --size-200: 1rem;
    --size-300: 1.5rem;
    --size-400: 2rem;
    --size-500: 2.5rem;
    --size-600: 3rem;
    --size-700: 3.5rem;
    --size-800: 4rem;
    --size-900: 4.5rem;
    --size-1000: 5rem;


    /* Font Weights*/

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg-icon {
    aspect-ratio: 1 / 1;
    width: var(--size-300);
    vertical-align: middle;
    margin-right: var(--size-100);
}

.visibility-display {
    display: none;
}

/* Header Styles */ 

header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
}

.header-ul {
    gap: var(--size-400);
 }

.menu-button {
    position: absolute;
    background: none;
    border: none;
    top: var(--size-400);
    right: var(--size-600);
    display: none;
}

.menu-icon {
    aspect-ratio: 1 / 1;
    width: var(--size-300);
    fill: var(--gray);

}

.project-ul {
    position: absolute;
    background-color: whitesmoke;
    border-radius: var(--size-100);
   transform: translateX(var(--size-600));
}

.clickable-header-text-primary {
    font-size: var(--size-300);
    font-weight: var(--fw-medium);
    color: var(--gray);
    padding: var(--size-100) var(--size-200);
    text-align: center;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    fill: var(--gray);
}

.clickable-header-text-primary:hover, .clickable-header-text-primary:active {
    color: var(--black);
    fill: var(--black);
}



.clickable-header-text-secondary {
    font-size: var(--size-300);
    font-weight: var(--fw-light);
    color: var(--gray);
    padding: var(--size-100) var(--size-200);
    text-align: center;
    display: inline-block;
    background: none;
}

.clickable-header-text-secondary:hover, .clickable-header-text-secondary:active {
    color: var(--black);
}

/* Main Element Styles */

.intro-section {
    padding: var(--size-1000) 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    gap: var(--size-200);
}

.intro-content {
    justify-content: center;
    align-items: flex-start;
}

.primary-heading-text {
    font-size: var(--size-600);
    font-weight: var(--fw-bold);
    color: var(--black);
    line-height: 1.2;
}

.secondary-heading-text {
    font-size: var(--size-400);
    font-weight: var(--fw-semi-bold);
    color: var(--almost-black);
    line-height: 1.2;
}

.text-block {
    font-size: var(--size-200);
    font-weight: var(--fw-regular);
    color: var(--gray);
    line-height: 2;
    margin-top: var(--size-200);
}

.large-container-padding {
    padding: var(--size-200) var(--size-400);
}

.hero-container {
    border-radius: var(--size-100);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    object-fit: cover;
    object-position: right top;
    display: block;
}

/* Footer Element Styles */

.social-link {
    font-size: var(--size-200);
    font-weight: var(--fw-medium);
    color: var(--gray);
    padding: var(--size-100) var(--size-200);
    text-align: center;
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
    fill: var(--gray);
}

.social-link:hover, .social-link:active {
    color: var(--black);
    fill: var(--black);
}

.social-icon {
    aspect-ratio: 1 / 1;
    width: var(--size-200);
    vertical-align: middle;
    margin-right: var(--size-100);
}