*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    /* Colors */

    --black: hsla(0, 0%, 0%, 1);
    --almost-black: hsla(0, 0%, 20%, 1);
    --gray: hsla(0, 0%, 40%, 1);
    --almost-gray: hsla(0, 0%, 61%, 1);
    --white: hsla(0, 100%, 100%, 1);
    --almost-white: whitesmoke;

    /* Sizes */

    --size-100: 0.5rem;
    --size-200: 1rem;
    --size-300: 1.5rem;
    --size-400: 2rem;
    --size-500: 2.5rem;
    --size-600: 3rem;
    --size-700: 3.5rem;
    --size-800: 4rem;
    --size-900: 4.5rem;
    --size-1000: 5rem;


    /* Font Weights*/

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

header {
    justify-content: space-between
}

.menu-button {
    position: absolute;
    background: none;
    border: none;
    display: none;
}


.header-ul {
   
}

.nested-ul {
   overflow: hidden;
   height: 0;
   background-color: whitesmoke;
}

.clickable-header-text-primary {
    font-size: var(--size-300);
    font-weight: var(--fw-medium);
    color: var(--almost-black);
    padding: var(--size-100) var(--size-200);
    text-align: center;
    display: inline-block;
    border: none;
    background: none;
}

.clickable-header-text-secondary {
    font-size: var(--size-300);
    font-weight: var(--fw-light);
    color: var(--almost-black);
    padding: var(--size-100) var(--size-200);
    text-align: center;
    display: inline-block;
    background: none;
}

.primary-heading-text {
    font-size: var(--size-600);
    font-weight: var(--fw-bold);
    color: var(--black);
}

.secondary-heading-text {
    font-size: var(--size-400);
    font-weight: var(--fw-semi-bold);
    color: var(--almost-black);
}

.text-block {
    font-size: var(--size-200);
    font-weight: var(--fw-regular);
    color: var(--gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-container-padding {
    padding: var(--size-200) var(--size-400);
}
